body {
  font-family: 'Segoe UI';
  background-color: #f5f5f5;
  padding: 20px;
}
h1 {
  text-align: center;
  margin-bottom: 32px;
}
form {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 0 auto;
  font-weight: 500;
}
label {
  display: block;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="tel"],
input[type="url"] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color:gainsboro;
  margin-bottom: 20px;
  font-size: 16px;
  box-sizing: border-box;
}
input[type="range"] {
  width: 80%;
}
input[type="checkbox"] {
  margin-right: 12px;
  vertical-align: middle;
}
input[type="submit"] {
  background-color: slateblue;
  color:white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #3367d6;
}
.error {
  color: crimson;
  margin-bottom: 12px;
  font-weight: bold;
}